HTML{
    background: no-repeat var(--background-color) top right;
    --background-color: #58272d;
    --default-color: #d7a174;
}

HTML,BODY{
	display: block;
	margin: 0;
	border: 0;
	min-height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
	font-family: "Numans";
	letter-spacing: 0.25;
	line-height: 1.5;
}

@media screen and ( max-width: 700px ){
	HTML{
		font-size: 3vw;
	}
	#wrapper{
		width: 95%;
	}
}


#wrapper{
	display: block;
	background-color: var(--background-color);
	max-width: 700px;
	margin: auto;
	padding: 10px 10px 3rem;
	overflow: hidden; /* Hides stuff that doesn't fit */
    border: 12px solid var(--default-color);
    border-top: 0;
	border-image: url(../../assets/images/border_image_upscale.png) 33%;
	color: var(--default-color);
}


#content-wrapper{
	margin-top: 10%;
	margin-inline: 10% 10%;
}

#divider {
	border-bottom: 4px solid var(--default-color);
	margin: auto;
}

@keyframes header-carousel {
	from {transform: translateX(0px)}
	to {transform: translateX(-932px)}
}

#header-image{
	display: flex;
	position: relative;
	animation-name: header-carousel;
    animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	margin: 0;
	padding: 0;
	margin-bottom: 1%;
}

p {
    color: var(--default-color)
}

::selection{
	color: var(--background-color);
	background: var(--default-color)
}

#nav {
    list-style: none;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	padding: 0;
    font-weight: bold;
	user-select: none;
}

#nav a:any-link {
    color: var(--default-color);
}

#nav li.current {
    color: var(--default-color);
    text-decoration: none;
    pointer-events: none;
	user-select: none;
}

a:any-link{
	color: var(--default-color);
}

a:hover{
	opacity: 0.75;
}

.grid-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1em;
	align-items: center;
}

@media (max-width: 399px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item{
	width: 100%;
	position: static;
	animation-name: gallery_not_hover;
    animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.item:hover{
	position: static;
	animation-name: gallery_hover;
    animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes gallery_hover {
	from {width: 100%; margin: auto;}
	to {width: 95%; margin: auto;}
}

@keyframes gallery_not_hover {
	from {width: 95%; margin: auto;}
	to {width: 100%; margin: auto;}
}

ul{
	list-style-image: url(../../assets/images/Item_Star.png);
}

.checkbox_off{
	list-style-image: url(../../assets/images/Checkbox_off.png);
}

.checkbox_on{
	list-style-image: url(../../assets/images/Checkbox_on.png);
}

.home_image{
	width: 100%;
}

.home_box{
	display: flex;
	align-items:flex-start
}

-item:active{
	opacity: 0.5
}