HTML{
    background-image: url(/images/background.png);
    --background-color: #58272d;
    --default-color: #d7a174;
}

HTML,BODY{
	display: block;
	margin: 0;
	border: 0;
	min-height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
	font-family: "Numans";
	letter-spacing: 0.25;
	line-height: 1.5;
}

@media screen and ( max-width: 700px ){
	HTML{
		font-size: 3vw;
	}
	#wrapper{
		width: 95%;
	}
}


#wrapper{
	display: block;
	background-color: var(--background-color);
	max-width: 700px;
	margin: auto;
	padding: 10px 10px 3rem;
	overflow: hidden; /* Hides stuff that doesn't fit */
    border: 12px solid var(--default-color);
    border-top: 0;
	border-image: url(/images/border.png) 33%;
	color: var(--default-color);
}


#content-wrapper{
	margin-top: 10%;
	margin-inline: 10% 10%;
}

#divider {
	border-bottom: 4px solid var(--default-color);
	margin: auto;
}

#thin-divider {
	max-width: 700px;
	border-bottom: 1px solid var(--default-color);
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}


@keyframes header-carousel {
	from {transform: translateX(0px)}
	to {transform: translateX(-932px)}
}

#header-image{
	display: flex;
	position: relative;
	animation-name: header-carousel;
    animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	margin: 0;
	padding: 0;
	margin-bottom: 1%;
}

p {
    color: var(--default-color);
}

::selection{
	color: var(--background-color);
	background: var(--default-color)
}

#nav {
    list-style: none;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	padding: 0;
    font-weight: bold;
	user-select: none;
}

#nav a:any-link {
    color: var(--default-color);
}

#nav li.current {
    color: var(--default-color);
    text-decoration: none;
    pointer-events: none;
	user-select: none;
}

a:any-link{
	color: var(--default-color);
}

a:hover{
	opacity: 0.75;
}

#gallery{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 1em;
	align-items: center;
}

@media (max-width: 399px) {
  #gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gallery-image{
	max-width: 100%;
	max-height: 100%;
	position: relative;
	transition: transform 250ms;
	cursor: pointer;
}

.gallery-image:hover{
	transform: scale(0.98);
	box-shadow: 0px 0px 10px var(--default-color);
}

ul{
	list-style-image: url(/images/item_star.png);
}

.checkbox_off{
	list-style-image: url(/images/checkbox_off.png);
}

.checkbox_on{
	list-style-image: url(/images/checkbox_on.png);
}

.home_image{
	width: 50%;
}

.home_box{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

/* idk if this should be here, but I'm too lazy to check it rn */
-item:active{
	opacity: 0.5
}

.home_box p{
	width: 50%;
}

#popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
  z-index: 999;
}

#popup.active {
  opacity: 1;
  pointer-events: auto;
}

#popup-image {
  max-width: 90vw;
  max-height: 90vh;
}

#bottom{
	max-width: 700px;
	margin: auto;
	padding: 10px 10px 3rem;
	text-align: center;
	font-size: 50%;
}

#bottom b{
	background-color: var(--background-color);
	color: var(--default-color);
	display: inline;
}

#bottom img:hover{
	box-shadow: 0px 0px 10px var(--default-color);
}