/*- This applies to pretty much everything -*/ 
HTML{
    background-image: url(/images/background.png);
    --background-color: #58272d;
    --default-color: #d7a174;
	--highlight-color: #bf474c;
}


HTML,BODY{
	display: block;
	margin: 0;
	border: 0;
	min-height: 100%;
	width: 100%;
}


* {
	box-sizing: border-box;
	font-family: "Numans";
	letter-spacing: 0.25;
	line-height: 1.5;
}


/* Change default font color */
p {
    color: var(--default-color);
}

/* Make selections colored */
::selection{
	color: var(--background-color);
	background: var(--default-color)
}

/* Change color of links */
a:any-link{
	color: var(--highlight-color);
	text-decoration-color: var(--default-color);
}

/* Change opacity when hovering over links */
a:hover{
	opacity: 0.75;
}

/* List star decoration */
ul{
	list-style-image: url(/images/item_star.png);
}

/* Static list checkboxes */
/* Should probably change it to literal styled checkbox elements */
.checkbox_off{
	list-style-image: url(/images/checkbox_off.png);
}

.checkbox_on{
	list-style-image: url(/images/checkbox_on.png);
}

/*-----------------------------------------*/

/*

 _.-._.._
(  ____  )   +*.
 Y´O  <`Y -´ 
 \ `--´ /
  `T''T´
.-´`--´`-.

*/

/*------- This defines the wrapper -------*/

#wrapper{
	display: block;
	background-color: var(--background-color);
	max-width: 700px;
	margin: auto;
	padding: 10px 10px 3rem;
	overflow: hidden; /* Hides stuff that doesn't fit */
    border: 12px solid var(--default-color);
    border-top: 0;
	border-image: url(/images/border.png) 33%;
	color: var(--default-color);
}

@media screen and ( max-width: 700px ){
	HTML{
		font-size: 3vw;
	}
	#wrapper{
		width: 95%;
	}
}

/*-----------------------------------------*/

/*

 _.-._.._
(  ____  )   +*.
 Y´O  <`Y -´ 
 \ `--´ /
  `T''T´
.-´`--´`-.

*/

/*------      Content wrapper       -------*/

#content-wrapper{
	margin-top: 10%;
	margin-inline: 10% 10%;
}

/*-----------------------------------------*/

/*

 _.-._.._
(  ____  )   +*.
 Y´O  <`Y -´ 
 \ `--´ /
  `T''T´
.-´`--´`-.

*/

/*------          Dividers          -------*/

#divider {
	border-bottom: 4px solid var(--default-color);
	margin: auto;
}

.thin-divider {
	max-width: 700px;
	border-bottom: 1px solid var(--default-color);
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}

/*-----------------------------------------*/

/*

 _.-._.._
(  ____  )   +*.
 Y´O  <`Y -´ 
 \ `--´ /
  `T''T´
.-´`--´`-.

*/

/*------     Header Animation     -------*/

@keyframes header-carousel {
	from {transform: translateX(0px)}
	to {transform: translateX(-932px)}
}

#header-image{
	user-select: none;
	display: flex;
	position: relative;
	animation-name: header-carousel;
    animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	margin: 0;
	padding: 0;
	margin-bottom: 1%;
}

/*-----------------------------------------*/

/*

 _.-._.._
(  ____  )   +*.
 Y´O  <`Y -´ 
 \ `--´ /
  `T''T´
.-´`--´`-.

*/

/*----------- Navigation Bars -------------*/

#nav {
    list-style: none;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	padding: 0;
    font-weight: bold;
	user-select: none;
}

#nav a:any-link {
    color: var(--default-color);
}

#nav li .current {
    color: var(--default-color);
    text-decoration: none;
    pointer-events: none;
	user-select: none;
}

#nav-2 {
    list-style: none;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	padding: 0;
	font-size: 80%;
    font-weight: bold;
	user-select: none;
}

#nav-2 a:any-link {
    color: var(--default-color);
}

#nav-2 li .current {
    color: var(--default-color);
    text-decoration: none;
    pointer-events: none;
	user-select: none;
}

/*-----------------------------------------*/

/*

 _.-._.._
(  ____  )   +*.
 Y´O  <`Y -´ 
 \ `--´ /
  `T''T´
.-´`--´`-.

*/

/*------            Home           ------------*/

/* These sould all probably be IDs */
.home_image{
	width: 50%;
}

.home_box{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.home_box p{
	width: 50%;
}

#updates{
	border: 1px solid var(--default-color);
	padding-right: 5%;
	padding-left: 5%;
	max-height: 200px;
	overflow: scroll;
	overflow-x: hidden;

}

#updates h3{
	text-align: center;
}

/*-------------------------------------------*/

/*

 _.-._.._
(  ____  )   +*.
 Y´O  <`Y -´ 
 \ `--´ /
  `T''T´
.-´`--´`-.

*/

/*------------ Gallery Stuff  --------------*/

#gallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
	align-items: center;
}

.gallery-image{
	max-width: 100%;
	object-fit: cover;
	position: relative;
	transition: transform 250ms;
	cursor: pointer;
}

#filter-list{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	padding: 0;
	grid-gap: 1em;
	align-items: center;
	
}

.filter-option input[type="checkbox"]{
	size-adjust: inherit;
	accent-color: var(--highlight-color);
}

.filter-option p{
	color: var(--default-color);
	display: inline;
}

@media (max-width: 399px) {
  #gallery {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1em;
	align-items: center;
  }
}

details:has(.one-bit:not(:checked)) ~ #gallery .tag-one-bit {
	visibility: hidden;
	display: none;
}

details:has(.animation:not(:checked)) ~ #gallery .tag-animation {
	visibility: hidden;
	display: none;
}

details:has(.color:not(:checked)) ~ #gallery .tag-color {
	visibility: hidden;
	display: none;
}

details:has(.static:not(:checked)) ~ #gallery .tag-static {
	visibility: hidden;
	display: none;
}


.gallery-image:hover{
	transform: scale(0.98);
	box-shadow: 0px 0px 10px var(--default-color);
}

#lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
}

/*-------------------------------------------*/

/*

 _.-._.._
(  ____  )   +*.
 Y´O  <`Y -´ 
 \ `--´ /
  `T''¿T´
.-´`--´`-.

*/

/*-------- Stuff outside the wrapper ---------*/

#bottom{
	max-width: 700px;
	margin: auto;
	padding: 10px 10px 3rem;
	text-align: center;
	font-size: 60%;
}

#bottom p{
	max-width: 700px;
	margin: auto;
	overflow: hidden; /* Hides stuff that doesn't fit */
	background-color: var(--background-color);
	color: var(--default-color);
	display: inline;
	text-align: center;
	font-weight: bold;
}

#bottom img:hover{
	box-shadow: 0px 0px 10px var(--default-color);
}

/*--------------------------------------------*/

/*

 _.-._.._
(  ____  )   +*.
 Y´O  <`Y -´ 
 \ `--´ /
  `T''T´
.-´`--´`-.

*/

/*---------    Project section    -----------*/

#project-grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	margin: 0px 5% 0px 5%;
	gap: 1em;
}

#project-grid #project {
	display: grid;
	grid-template-columns: 25% auto;
	background-color: var(--background-color);
	border: 4px solid var(--default-color);
	padding: 0px 5px 0px 5px;
	gap: 1em;
	font-size: 12px;
	text-align: center;
	place-items: center;
	margin: 0px 0px 0px 0px;
}

#project-grid #project img{
	width: 100%;
	padding: 10px 0px 10px 0px;
}

#project-grid #project h4 {
	font-size: 15px;
	margin: 10px 0px 0px 0px;
}

#project-grid #project p {
	font-size: 11px;
	padding: 0px 0px 0px 0px
}

/*--------------------------------------------*/

/*----------- Decorations -------------*/

.plant-deco-one{
	content: url("../images/Deco_Leaf_Static.png");
	position: absolute;
	max-height: 91px;
	rotate: 180deg;
	left: calc(50vw - 376px);
	top: 200px;
	user-select: none;
}

.plant-deco-one:hover{
	content: url("../images/Deco_Leaf_Hover.png");
	position: absolute;
	max-height: 91px;
	rotate: 180deg;
	left: calc(50vw - 376px);
	top: 200px;
	user-select: none;
}

.plant-deco-one:active{
	content: url("../images/Deco_Leaf_Click.png");
	position: absolute;
	max-height: 91px;
	rotate: 180deg;
	left: calc(50vw - 376px);
	top: 200px;
	user-select: none;
}

.flower-deco-one{
	content: url("../images/Deco_Flower_Static.png");
	position: absolute;
	max-height: 90px;
	left: calc(50vw + 317px);
	top: 300px;
	user-select: none;
}

.flower-deco-one:hover{
	content: url("../images/Deco_Flower_Hover.png");
	position: absolute;
	max-height: 91px;
	left: calc(50vw + 317px);
	top: 300px;
	user-select: none;
}

.flower-deco-one:active{
	content: url("../images/Deco_Flower_Click.png");
	position: absolute;
	max-height: 91px;
	left: calc(50vw + 317px);
	top: 300px;
	user-select: none;
}

.flower-deco-two{
	content: url("../images/Deco_Flower_Static.png");
	transform: scaleX(-1);
	position: absolute;
	max-height: 90px;
	left: calc(50vw - 376px);
	top: 450px;
	user-select: none;
}

.flower-deco-two:hover{
	content: url("../images/Deco_Flower_Hover.png");
	transform: scaleX(-1);
	position: absolute;
	max-height: 91px;
	left: calc(50vw - 376px);
	top: 450px;
	user-select: none;
}

.flower-deco-two:active{
	content: url("../images/Deco_Flower_Click.png");
	transform: scaleX(-1);
	position: absolute;
	max-height: 91px;
	left: calc(50vw - 376px);
	top: 450px;
	user-select: none;
}

.plant-deco-two{
	content: url("../images/Deco_Leaf_Static.png");
	position: absolute;
	max-height: 90px;
	left: calc(50vw + 316px);
	top: 600px;
	user-select: none;
}

.plant-deco-two:hover{
	content: url("../images/Deco_Leaf_Hover.png");
	position: absolute;
	max-height: 91px;
	left: calc(50vw + 316px);
	top: 600px;
	user-select: none;
}

.plant-deco-two:active{
	content: url("../images/Deco_Leaf_Click.png");
	position: absolute;
	max-height: 91px;
	left: calc(50vw + 316px);
	top: 600px;
	user-select: none;
}
/*-----------------------------------------*/





